<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra classes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/7080cd0a09.js" crossorigin="anonymous"></script>
    <script src="lessons.js" ></script>
    
</head>
<body>
<div id="app" class="container" style="margin-top: 10%;">
<header></header>
<a style="float: right;" href="#" v-if='cartItemCount === "" '  hidden>Cart</a>
    <a style="float: right;" href="#" @click="showCheckout()" v-else > <span class="fas fa-cart-plus"></span> Cart ({{cartItemCount}})</a>
    

</header>
    
    <div v-if='showLessons'>

        <h1 class="text-center" v-text="sitename"></h1>

    
    <br><br><br>

        <aside>
            
  <p><b>Sort Order</b></p>
  <input type="radio" id="ascending" name="sort_order" v-model="sort.sortingOrder" value="ascending">
  <label for="ascending">Ascending</label><br>
  <input type="radio" id="descending" name="sort_order" v-model="sort.sortingOrder" value="descending">
  <label for="descending">Descending</label><br>  

  <br>  <br>

  <p><b>Sort by</b></p>
  <input type="radio" id="subject"  v-model="sort.sortingMethod" value="subject">
  <label for="subject">Subject</label><br>

  <input type="radio" id="location"  v-model="sort.sortingMethod" value="location">
  <label for="location">Location</label><br>
            
        </aside>

        <div class="column" >
            
            <div  v-for="lessons in sortedLessons" style="padding: 10px">
                <div class="card " style="width: 500px;">
                    <img style="height:250px; margin:auto" v-bind:src="lessons.image">
                    <div class="card-body">
                    <h5 class="card-title" >{{lessons.subject}}</h5>
                    <p class="card-text" > Location : {{lessons.location}} </p>
                    <p> <b>Price : £{{lessons.price}}</b></p>
                    <p v-if="lessons.availableInventory === cartCount(lessons) ">All Booked!</p>
                    <p v-else>Available Spaces : {{lessons.availableInventory - cartCount(lessons)}}</p>
    
                    <button href="#" class="fas fa-cart-plus" style="height:50px; width: 200px;" v-on:click ='addToCart(lessons)' v-bind:disabled='!canAddToCart(lessons)' >Add To Cart</button>
                    <button hidden href="#" class="fas fa-cart-plus"  v-else >Add To Cart</button>
                        <br>
                    <div>
    
                    </div>
            </div>
            </div>
        </div>

    </div>
</div>

    <div v-else>
        <h1  v-text="ShopCart"></h1>
        
        <center>
            <h2>Checkout Now</h2>
            <br>
            <form>
                
                <input class="form-control" style="width: 40%;" type="text" v-model="customer.name" placeholder="Enter Your Name" required ><br>
                <input class="form-control" style="width: 40%;" type="number" v-model="customer.number" placeholder="Enter Your Phone Number" required><br>
    
                <input style="margin-bottom: 50px;" @click="submitForm(customer)" v-if="customer.name == '' || customer.number == '' " class="btn btn-primary" type="submit" value="Place Order" hidden>
    
                <p v-else-if="customer.name == parseInt(customer.name) " class="bg-danger"> Please input a valid name</p>
                
                
                <input style="margin-bottom: 50px;" @click="submitForm(customer)" v-else class="btn btn-primary" type="submit" value="Place Order"> 
            </form>
            </center>
    <br><br><br>

        <div class="column" >
            
            <div  v-for="lessons in cart" style="padding: 10px">
            <div class="card " style="width: 500px;">
                <img style="height:250px; margin:auto" v-bind:src="lessons.image">
                <div class="card-body">
                    <h5 class="card-title" >{{lessons.subject}}</h5>
                    <p class="card-text" > Location : {{lessons.location}} </p>
                    <p> <b>Price : £{{lessons.price}}</b></p>
                <button style="float: right;" href="#" v-on:click ='deleteFromCart(lessons, cart)' >Remove from Cart</button>
                
                    <br>
                <div>
                    
                </div>
            </div>
            </div>
        </div>
    </div>

    </div>
</div>

    <script>
        var vm = new Vue ({
            el: "#app",
            data:{
                showLessons: true,
                sitename: 'Extra Classes Booking',
                ShopCart: 'Your Shopping Cart',

                sort: {
                    sortingMethod: "location",
                    sortingOrder: "ascending",
                },

                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'Home',
                },

            customer:{
                id: '',
                name: '',
                number: '',
            },
                lesson: lessons,

               cart: [],

            },

            methods:{
                
                addToCart: function(lessons) {
                    
                    this.cart.push(lessons);
                },

                deleteFromCart: function(lessons, cart) {
                   this.cart.splice(this.cart.indexOf(lessons), 1);
                },

                showCheckout: function(){
                    console.log(this.showLessons);
                    this.showLessons = this.showLessons ? false : true;
                },

                submitForm(customer) {
                    
                    alert('Order placed, thank you!');
                
                },

                canAddToCart: function(lessons){
                    return lessons.availableInventory > this.cartCount(lessons);
                },

                cartCount(id) {
                    let count = 0;
                    for(let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                    count++;
                        }
                    }
                    return count;
                },

            },

            computed: {
                    cartItemCount: function(lessons){
                        return this.cart.length || '';
                    },

                    sortedLessons(lessons, sort){

                    if(this.sort.sortingMethod == "location" && this.sort.sortingOrder === "ascending" ){
                    function compare (a, b){
                        if (a.location > b.location) return 1;
                        if (a.location < b.location) return -1;
                        return 0;
                    }
                    
                }else if(this.sort.sortingMethod == "location" && this.sort.sortingOrder === "descending" ){
                    function compare (a, b){
                        if (a.location < b.location) return 1;
                        if (a.location > b.location) return -1;
                        return 0;
                    }
                
                }else if(this.sort.sortingMethod == "subject" && this.sort.sortingOrder === "ascending" ){
                    function compare (a, b){
                        if (a.subject > b.subject) return 1;
                        if (a.subject < b.subject) return -1;
                        return 0;
                    }
                }else if(this.sort.sortingMethod == "subject" && this.sort.sortingOrder === "descending" ){
                    function compare (a, b){
                        if (a.subject < b.subject) return 1;
                        if (a.subject > b.subject) return -1;
                        return 0;
                    }
                }else if(this.sort.sortingMethod == "availableInventory" && this.sort.sortingOrder === "ascending" ){
                    function compare (a, b){
                        if (a.availableInventory > b.availableInventory) return 1;
                        if (a.availableInventory < b.availableInventory) return -1;
                        return 0;
                    }
                }else if(this.sort.sortingMethod == "availableInventory" && this.sort.sortingOrder === "descending" ){
                    function compare (a, b){
                        if (a.availableInventory < b.availableInventory) return 1;
                        if (a.availableInventory > b.availableInventory) return -1;
                        return 0;
                    }
                }
                    return this.lesson.sort(compare);
                },
                    
                },           
        })

    </script>
</body>

</html>